
#myImg {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.img-opacity:hover {opacity: 0.7;} */

/* The Modal (background) */
.container-fluid .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /*Fallback color*/
    background-color: rgba(27, 10, 112, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    /* height: 639px;  */
}

/* Caption of Modal Image */
.modal .modal-content #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color:red;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal .modal-content, 
.modal .modal-content #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* img{text-align: center} */
/* The Close Button */
.modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #F8FC06;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.modal .close:hover,
.modal .close:focus {
    color: #E01111;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 80%;
    }
}
.modal-footer{
    height:70px;
    background-color: yellowgreen;   
    }