body{
    /* background-image: url('foto/incognito.jpg') */
}
.nav-color 
{
    background-color:lightgrey;
    
}


.container-fluid .nav .painting:visited,
.container-fluid .nav .chat:visited,
.container-fluid .nav .page2:visited,
.container-fluid .nav .page3:visited{
   
    color:#055510 
}

.container-fluid .nav .painting:hover,
.container-fluid .nav .chat:hover,
.container-fluid .nav .page2:hover,
.container-fluid .nav .page3:hover{
    color:#160FEB;    
}
/* :active означає стан лінку саме в момент активізації,натискання,переходу - пока нам це непотрібно */
/* .container-fluid .nav .home:active,
.container-fluid .nav .chat:active,
.container-fluid .nav .page2:active,
.container-fluid .nav .page3:active{
background-color: aqua
} */
  
.form-group .col-sm-9 .help-block{
    color:lawngreen;
}
.modal-header{
    background-color: yellowgreen;
}
#modal-title{
    color:green;
}
/*нижчеприведений сніпет(10-16) дозволяє прибрати стрілочки в полі input type="number",
 в модальному вікні при введенні номеру телефону вони зайві і недоречні*/

input[type='number'] {
    -moz-appearance: textfield;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.thumb{
    float: left;
    border: 2px solid aqua;
    border-radius: 15px;
    margin:5px;
    background-color: lightgrey;
}
.img-opacity:hover{
    opacity: 0.7;
}
/* в наступних двох правилвх прописано scroll без полоси прокрутки,"невидимий скрол" */
  #scrollArea{
    width: 830px;
    overflow: hidden;
    border: 1px solid none;
}
.scroll-target {
    width: 850px;
    height: 900px;
    overflow: auto;
}
 .copy{
     /* color:#805E00; */
    color:#055510 ; 
     font-size: 24px
 } 
 #title_seva{text-indent: 100px}

