<div class="container-fluid">

    <div>
        <h2 style="color:#E09FC0">Енкавстика.Загадка Всесвіту</h2>
    </div>
    <div id="scrollArea">
        <ul class="list-group scroll-target">

            <li ng-repeat="item in $ctrl.paintings" class="list-group-item thumb">
                <div class="col-md-5">
                    <!-- <a ng-href="#"> Увага!! не потрібно лінк, модальне вікно виводить ng-click в img!!!-->
        <img id="myImg" ng-src="{{item.imageUrl}}" ng-click="$ctrl.showModal(item)" class="img-thumbnail img-opacity" alt="{{item.title}}">
   <!-- Ширину і висоту можна задати через змінні width='{{item.width}}' i height="{{item.height}}",
відповідно задавши їх в масиві paintings в component() -->
    <!-- </a> -->
                </div>
                <div class="col-md-7">
                        <!-- <a ng-href="#"> -->
                        <h3> {{item.title}} </h3>
                        <!-- </a> -->
                </div>
            </li>
        </ul>
        <!-- The Modal -->
        <div id="myModal" class="modal" ng-show="$ctrl.isModal">
            <span class="close" ng-click="$ctrl.closeModal()">&times;</span>
            <div class="modal-content">
                <img src="{{$ctrl.selectedModelItem.imageUrl}}">
                <div class="modal-footer">
                    <h3 id="caption">{{$ctrl.selectedModelItem.title}}</h3>
                </div>
            </div>

        </div>

    </div>
</div>