<div class="container-fluid">

    <div>
        <h2 style="color:#E09FC0">Енкавстика.Загадка Всесвіту</h2>
    </div>
    <div id="scrollArea">
        <ul class="scroll-target" >

            <li ng-repeat="painting in $ctrl.paintings" class="thumb">
                <div class="col-md-5">

                    <a ng-href="{{painting.imageUrl}}">
        <img ng-src="{{painting.imageUrl}}" class="img-thumbnail img-opacity" alt={{painting.title}}>
    </a>
                </div>
                <div class="col-md-7">
                    <p>
                        <!-- <a ng-href="#"> -->
                        <h3> {{painting.title}} </h3>
                        <!-- </a> -->
                    </p>
                </div>
                <!-- <script type="text/ng-template" id="ModalPaintingContent.html">

                        <div class="modal-demo modal-lg">

                            <div class="modal-header">
                                <button type="button" class="close" aria-label="Close" ng-click="cancel()">
                                <span aria-hidden="true">&times;</span>
                                    </button>

                                <h3 ng-repeat="painting in paintings| filter:{order:{{x}}}" class="modal-title" id="modal-title">{{painting.title }}</h3>
                            </div>
                            <div class="modal-body" id="modal-body">
                                <img ng-repeat="painting in paintings| filter:{order:2}" class="modal-title" id="modal-title" ng-src='{{painting.imageUrl}}'>

                            </div>
                        </div>

                    </script> -->
                <!-- </div> -->
            </li>
        </ul>
    </div>

</div>