<div class="container-fluid">
    <!-- <table>
        <caption>
            <h2>Енкаустика.Загадка Всесвіту</h2>
        </caption>
        <tr>
            <th>№</th>
            <th>Назва картини</th>
            <th>Місце знаходження</th>
        </tr>
        <tr ng-repeat="painting in $ctrl.paintings">
            <td>{{painting.number}}</td>
            <td><a ng-href="{{painting.name.foto}}" target="_blank">{{painting.name.title}}</a></td>
            <td>{{painting.home}}</td>
        </tr>
    </table> -->
    <!-- <h2 class="title-zagadka fixed-top" >Енкаустика.Загадка Всесвіту</h2> -->

    <h2 class="">Енкаустика.Загадка Всесвіту</h2>
    <!-- <ul  data-spy="scroll" data-target=".title-zagadka" data-offset="" class=""> -->
    <ul id="scrollArea" class="">

        <li ng-repeat="painting in $ctrl.paintings" class="thumb">
            <div class="col-md-5">

                <a ng-href="{{painting.imageUrl}}">
                <img ng-src="{{painting.imageUrl}}" class="img-thumbnail" alt={{painting.title}}></a>

            </div>
            <div class="col-md-7">
                <p>
                    <h3> {{painting.title}} </h3>
                </p>
            </div>
        </li>
    </ul>

</div>